html, body {
  font-family: "Open Sans", sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

img {
  max-width: 100%;
}

.parag {
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.heading {
  font-size: 21px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.transition3, .contact-toolbar ul li a, .contact-toolbar ul li i, .devo-social ul li a, .menu-box ul li a, .wrap-name, .devo-more a, .devo-more a::after, .contact-user ul li a, .footer-menu ul li a, .copyright-box .copyright-p a {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.open-menu {
  left: 0 !important;
}

.devo-hidden {
  overflow-y: hidden;
}

.pd-70 {
  padding: 70px 0;
}
@media (max-width: 767px) {
  .pd-70 {
    padding: 50px 0;
  }
}

.mt-70 {
  margin-top: 70px;
}
@media (max-width: 767px) {
  .mt-70 {
    margin-top: 50px;
  }
}
.mb-70 {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .mt-70 {
    margin-bottom: 50px;
  }
}

.pd-40 {
  padding: 40px 0;
}

.devo-bold {
  font-weight: bold !important;
}

.devo-semiBold {
  font-weight: 600 !important;
}

.wrap-name {
  border: 1px solid;
  display: inline-block;
  padding: 11px 20px;
  min-width: 150px;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 3px;
}
.devo-btn {
  cursor: pointer;
  min-width: 100px;
  padding: 8px 20px;
}
